.horizontal-flex
{
  display: flex;
}

.vertical-flex
{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 0px;
  flex-grow: 1;
}

.doughnut
{
  width: 65%;
  height: 55%;
}

#calendar
{
  flex: 1;
}