<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Pierre & Marie project</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
  <script type="text/javascript" src="/static/js/Chart.bundle.min.js"></script>
  <script type="text/javascript" src="/static/js/utils.js"></script>
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
</head>

<body>
  <div id="canvas-holder" style="width:40%"> 
    <canvas id="chart-area" width="200" height="200"></canvas>
  </div>
  <div id="canvas-holder-sub" style="width:40%">
    <canvas id="chart-area-sub" width="200" height="200"></canvas>
  </div>
  <script id="main-area-script"></script>
  <script type="text/javascript" src="/static/js/custom.functionalities.js"></script>

</body>
</html>


